@import 'tailwindcss';

@theme {
  --color-background: hsl(0, 0%, 100%);
  --color-foreground: hsl(240, 10%, 3.9%);
  --color-card: hsl(0, 0%, 100%);
  --color-card-foreground: hsl(240, 10%, 3.9%);
  --color-popover: hsl(0, 0%, 100%);
  --color-popover-foreground: hsl(240, 10%, 3.9%);
  --color-primary: hsl(240, 5.9%, 10%);
  --color-primary-foreground: hsl(0, 0%, 98%);
  --color-secondary: hsl(240, 4.8%, 95.9%);
  --color-secondary-foreground: hsl(240, 5.9%, 10%);
  --color-muted: hsl(240, 4.8%, 95.9%);
  --color-muted-foreground: hsl(240, 3.8%, 46.1%);
  --color-accent: hsl(240, 4.8%, 95.9%);
  --color-accent-foreground: hsl(240, 5.9%, 10%);
  --color-destructive: hsl(0, 72.22%, 50.59%);
  --color-destructive-foreground: hsl(0, 0%, 98%);
  --color-border: hsl(240, 5.9%, 90%);
  --color-input: hsl(240, 5.9%, 90%);
  --color-ring: hsl(240, 5.9%, 10%);
  --radius: 0.5rem;
  --spacing: 0.25rem;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    font-family: 'Geist Sans', sans-serif;
    @apply bg-background text-foreground mx-auto max-w-lg;
  }

  dialog {
    @apply bg-card text-foreground m-auto w-[calc(100%-1rem)] max-w-lg rounded-xl p-4 backdrop:bg-black/50;
  }

  /* enable transitions */
  dialog,
  ::backdrop {
    transition:
      display 0.3s allow-discrete,
      overlay 0.3s allow-discrete,
      transform 0.3s allow-discrete,
      opacity 0.3s;
    opacity: 0;
  }

  /* On Stage */
  [open],
  [open]::backdrop {
    opacity: 1;
  }

  [open] {
    transform: scale(1);
  }

  /* Off Stage */
  @starting-style {
    [open],
    [open]::backdrop {
      opacity: 0;
    }

    [open] {
      transform: scale(0.95);
    }
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type='number'] {
    -moz-appearance: textfield;
  }

  i {
    @apply text-muted-foreground;
  }
  h1 {
    @apply scroll-m-20 text-xl font-bold tracking-tight;
  }

  h2 {
    @apply scroll-m-20 text-lg font-semibold tracking-tight;
  }

  button {
    @apply flex cursor-pointer items-center justify-center gap-2 transition-all active:scale-[0.99];
  }
}

@layer components {
  .button {
    @apply hover:bg-primary/90 text-primary-foreground bg-primary rounded-md p-2;
  }

  .button-ghost {
    @apply hover:bg-accent hover:text-accent-foreground rounded-md p-2;
  }

  .input {
    @apply h-10 w-full rounded-lg border px-2 shadow-sm;
  }

  .fixed-holder {
    @apply bg-card fixed bottom-0 left-1/2 mx-auto w-full max-w-lg -translate-x-1/2 rounded-t-lg border px-2 py-4;
  }
}
